In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('../../raw_data_200000.xlsx', index_col='genome name')

In [9]:
df.head()

                   m0        m1        m2        m3        m4        m5
genome name
g0           0.009766  0.689594  0.969415  0.563877  0.785240  0.744870
g1           0.639084  0.566487  0.348009  0.238454  0.155803  0.860839
g2           0.862500  0.577220  0.226000  0.992618  0.439043  0.526381
g3           0.067527  0.038798  0.636320  0.795348  0.176226  0.125150
g4           0.281982  0.562474  0.897276  0.837457  0.208897  0.672577

In [10]:
def calculate_averages(df):
    v1 = df.iloc[:, :3].mean(axis=1)
    v2 = df.iloc[:, 3:7].mean(axis=1)
    return np.log2(v1/v2)

In [11]:
calculated_value = calculate_averages(df)

In [12]:
calculated_value.head()

genome name
g0   -0.327464
g1    0.307799
g2   -0.233266
g3   -0.562457
g4    0.019012
dtype: float64

In [16]:
df['calc'] = calculated_value

In [17]:
threshold = 0.2
filtered_df = df[calculated_value > threshold]

In [18]:
filtered_df.head()

,m0,m1,m2,m3,m4,m5,calc
genome name,,,,,,,
g1,0.639084,0.566487,0.348009,0.238454,0.155803,0.860839,0.307799
g5,0.748524,0.687619,0.108258,0.132476,0.162429,0.758822,0.551546
g6,0.455394,0.969475,0.625416,0.448158,0.384430,0.021970,1.262574
g9,0.994717,0.785084,0.510142,0.232240,0.185904,0.660602,1.085956
g10,0.524984,0.523317,0.024237,0.285896,0.054879,0.504603,0.343360

In [21]:
filtered_df.count()

m0      77629
m1      77629
m2      77629
m3      77629
m4      77629
m5      77629
calc    77629
dtype: int64

In [22]:
filtered_df.m0.count()

77629